/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
* {
    font-family: 'Montserrat', sans-serif;
}




/* Debug */
/* db-Aside */
.debug aside {
    max-width: 250px;
    min-height: calc(100vh - 100px);
    background-color: red;
}

/* db-Player */
.debug #player {
    width: 100%;
    height: 100px;
    background-color: green;
}

/* db-Main Section */
.debug #main-section {
    width: 100%
    height: 100vh;
    background-color: blue;
}