/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
* {
    font-family: 'Montserrat', sans-serif;
}

/* Regole Generali */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.txt-center {
    text-align: center;
}

/* Main */
/* Main Section */
.main-container {
    width: calc(100% - 15.6rem);
    height: 100vh;
    padding-bottom: 100px;
    overflow: scroll;
}

.top-bar {
    width: calc(100% - 15.6rem);
    height: 4rem;
    padding: 0 0.5rem;
    line-height: 4rem;
    text-align: end;
    position: fixed;
    left: 15.6rem;
    top: 0;
}

.title-categories {
    padding-top: 4.5rem;
    justify-content: center;
}

/* Aside */
aside {
    width: 15.6rem;
    height: 100vh;
    position: relative;
}

.profile-container {
    padding: 0 1rem;
    position: absolute;
    left: 0;
    bottom: 6.25rem;
    right: 0;
}

/* Player */
#player {
    width: 100%;
    height: 6.25rem;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 30;
    justify-content: space-between;
}

.container-song, .container-song-time, .container-song-volume {
    height: 100%;
}

.container-song {
    align-items: center;
    justify-content: space-between;
}

.container-song-volume {
    align-items: center;
}

.img-song {
    width: 3.5rem;
    height: 3.5rem;
}

.icone-song {
    width: 3.5rem;
    height: 2.5rem;
}

.icone-volume, .icone-time {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.7rem;
}

.container-song-time {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-time-bar {
    align-items: center;
}




/* Debug */
/* db-Main Section */
.debug #main-section {
    background-color: blue;
}

.debug .main-container {
    background-color: springgreen;
    border: 2px dashed #fff;
} 

.debug .top-bar {
    background-color: darkgrey;
}

.debug .title-categories ul li {
    margin: 0 1rem;
}

.debug .cards {
    padding: 2rem;
    gap: 3rem;
}

.debug .cards .card {
    width: 200px;
    height: 200px;
    background-color: #fff;
}

/* db-Aside */
.debug aside {
    background-color: red;
}

.debug .a-logo {
    width: 100%;
    min-height: 4rem;
    background-color: orange;
    border: 2px dashed black;
}

.debug .profile-container {
    background-color: aqua;
}

/* db-Player */
.debug #player {
    background-color: green;
}

.debug .container-song, .container-song-time, .container-song-volume {
    background-color: violet;
}

.debug .container-song, .container-song-volume {
    width: 15.6rem;
    padding: 0 0.5rem;
}

.debug .container-song-time {
    width: 40rem;
}

.debug .img-song {
    background-color: #fff;
}

.debug .icone-song {
    background-color: #fff;
}

.debug .icone-volume, .icone-time {
    background-color: #fff;
}

.debug .volume-bar {
    width: 8rem;
    padding: 0.1rem 0;
    background-color: #fff;
}

.debug .time-bar {
    width: 30rem;
    height: 0.2rem;
    background-color: #fff;
    margin: 0 2rem;
}