/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
* {
    font-family: 'Montserrat', sans-serif;
}

/* Regole Generali */
:root {
    --color-txt-base: #676767;
    --color-txt-hover: #ffffff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.txt-center {
    text-align: center;
}

.p-color {
    color: var(--color-txt-hover);
}

.txt-size {
    font-size: 1rem;
}

.d-mob {
    display: none;
}

/* Main */

/* Aside */
aside {
    width: 15.6rem;
    min-height: calc(100vh - 5rem);
    padding-left: 1rem;
    position: relative;
    background-color: #000000;
}

.a-logo {
    width: 100%;
    height: 4rem;
}

.a-logo img {
    width: 100%;
    height: 100%;
    padding: 0.5rem 5rem 0.5rem 0;
}

#main-nav {
    margin: 1.5rem 0;
}

#main-nav ul li:hover a {
    color: var(--color-txt-hover);
}

#main-nav ul li:first-child a {
    color: var(--color-txt-hover);
}

#main-nav ul li {
    padding: 0.5rem 0;
}

#main-nav ul li a{
    padding: 0.5rem 5rem 0.5rem 0;
    color: var(--color-txt-base);
    font-weight: bold;
}

.build-pl {
    margin: 1.5rem 0;
}

.build-pl button {
    display: inline-block;
    border: none;
    color: #000000;
    padding: 0.8rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}

.build-pl span {
    font-weight: bold;
    margin-left: 1rem;
}

#playlist-nav {
    overflow: auto;
}

#playlist-nav ul li {
    padding: 0.3rem 0;
    font-weight: bold;
}

#playlist-nav ul li a {
    color: var(--color-txt-base);
}

#playlist-nav ul li:hover a {
    color: var(--color-txt-hover);
}

.profile-container {
    padding: 0 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000000;
}

.profile-container a {
    display: inline-block;
    padding: 0.3rem 0;
    color: var(--color-txt-base);
    font-weight: bold;
}

.profile-container a:hover {
    color: var(--color-txt-hover);
}

.profile {
    align-items: center;
}

.profile .cont-img{
    width: 2rem;
    height: 2rem;
    background-color: var(--color-txt-base);
    border-radius: 50%;
    margin: 0.4rem 0.2rem 0.4rem 0;
}

.profile .cont-img img {
    width: 100%;
    height: 80%;
}

.profile > span {
    color: var(--color-txt-hover);
    font-weight: bold;
} 

/* Main Container */
.main-container {
    width: calc(100% - 15.6rem);
    height: calc(100vh - 5rem);
    padding:0 2rem;
    overflow: auto;
    background-color: #141922;
}

.top-bar {
    width: calc(100% - 15.6rem);
    height: 4rem;
    padding: 0 1rem;
    line-height: 4rem;
    text-align: end;
    position: fixed;
    left: 15.6rem;
    top: 0;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.5);
}

.top-bar a {
    border: 2px solid var(--color-txt-hover);
    padding: 0.6rem 0.8rem;
    border-radius: 2rem;
    color: var(--color-txt-hover);
    font-weight: bold;
    font-size: 0.8rem;
}

.top-bar a:hover {
    padding: 0.7rem 0.9rem;
    font-size: 0.9rem;
}

.title-categories {
    padding-top: 4.5rem;
    justify-content: center;
}

.title-categories ul{
    flex-wrap: wrap;
    justify-content: center;
}

.title-categories ul li {
    margin: 0 0.5rem;
}

.title-categories li a {
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--color-txt-base);
}

.title-categories li a:hover {
    color: var(--color-txt-hover);
}

.main-container h2 {
    margin: 2rem 0 1rem;
}

.cards {
    padding: 2rem 0;
    gap: 1rem;
}

.card {
    width: 170px;
    position: relative;
    cursor: pointer;
}

.card img {
    width: 100%;
}

.circle {
    border-radius: 50%;
}

.card:hover .overlay {
    display: flex;
}

.overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2.5rem;
    position: absolute;
    width: 100%;
    top: 0;
    height: calc(100% - 6.70rem);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-txt {
    height: 6.25rem;
}

.cards .card .card-txt > h3 {
    font-size: 0.9rem;
    margin-top: 0.2rem;
}

.cards .card .card-txt > p {
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--color-txt-base);
}

/* Player */
#player {
    width: 100%;
    height: 5rem;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 30;
    justify-content: space-between;
    background-color: #282828;
}

.container-song, .container-song-time, .container-song-volume {
    height: 100%;
}

.container-song, .container-song-volume {
    width: 20%;
    padding: 0 0.5rem;
}

.container-song-time {
    width: 45%;
}

.container-song {
    align-items: center;
    justify-content: space-between;
}

.container-song-time {
    background-color: #282828;
}

.time-bar {
    max-width: 30rem;
    height: 0.2rem;
    margin: 0 2rem;
}

.img-song img {
    width: 100%;
    margin-top: 0.7rem;
} 

.name-song > h5 {
    font-size: 0.5rem;
    color: var(--color-txt-base);
}

.name-song {
    padding: 0.7rem 0.4rem;
    margin-top: 0.7rem;
    cursor: pointer;
}

.name-song:hover h2 {
    text-decoration: underline;
}

.container-song-volume {
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    background-color: #282828;
}

.container-song-volume i {
    color: var(--color-txt-hover);
    cursor: pointer;
}

.img-song {
    width: 3.5rem;
    height: 3.5rem;
}

.icone-song {
    color: var(--color-txt-base);
    cursor: pointer;
}

.heart:hover, .folder:hover {
    color: var(--color-txt-hover);
}

.container-icone-time {
    gap: 1.2rem;
    padding: 1.4rem 0;
}

.container-icone-time i {
    color: var(--color-txt-hover);
    cursor: pointer;
}

.container-icone-time .sc-hover:hover {
    scale: 1.2;
}

.container-time-bar span {
    font-size: 0.65rem;
}

.container-time-bar .time-bar {
    background-color: var(--color-txt-base);
    width: 30rem;
    height: 0.2rem;
    margin: 0 0.5rem;
}

.advance {
    width: 10%;
    height: 100%;
    background-color: var(--color-txt-hover);
    position: relative;

    animation: timeBar 240s linear infinite;
}

@keyframes timeBar {

    0% {
        width: 10%;
    }

    100% {
        width: 100%;
    }

}

.advance i {
    position: absolute;
    right: -1rem;
    top: -0.35rem;
    color: var(--color-txt-hover);
    cursor: pointer;
    display: none;
}

.time-bar:hover .advance {
    background-color: #81b71a;
}

.time-bar:hover .advance i {
    display: block;
}

.volume-bar {
    width: 8rem;
    height: 0.2rem ;
    background-color: var(--color-txt-base); 
}

.volume-bar:hover .advance {
    background-color: #81b71a;
}

.volume-bar:hover .advance i {
    display: block;
}

.container-song-time {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-time-bar {
    width: 100%;
    justify-content: center;
    align-items: center;
}


/* Media Query */
@media screen and (max-width: 1100px) {

    .cards {
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 500px) {

    aside {
        width: 5rem;
        padding: 0;
    }

    .d-mob {
        display: block;
    }

    aside h2, .build-pl, #playlist-nav {
        display: none;
    }

    .d-none {
        display: none;
    } 

    .a-logo {
        margin: 0.5rem;
    }

    .a-logo img {
        width: 80%;
        height: 100%;
        padding: 0;
    }

    #main-nav ul li a {
        padding: 0;
    }

    #main-nav {
        text-align: center;
    }

    .profile-container a:first-child {
        display: none;
    }

    .profile-container a {
        padding: 0.5rem 0.9rem;
    }

    .profile {
        justify-content: center;
    }

    .top-bar {
        width: calc(100% - 5rem);
        left: 5rem;
    }

    .main-container {
        width: calc(100% - 5rem);
    }

}


/* Animations */
